@function getValueInArray($key, $array){
  @if ($array == '') {
    @error 'No array found.';
  }

  @if ($key == '') {
    @error 'Which value do you want to search in array #{$array}';
  }

  @if (map-has-key($array, $key)) {
    @return map-get($array, $key);
  }

  @error 'No key #{$key} found in array #{$array}';
  @return null;
}
