@function getFirstKeyFromList($list) {
  @return index($list, 1);
}

@function getFirstValueFromList($list) {
  @return nth($list, 1);
}

@function getLastKeyFromList($list) {
  @return index($list, length($list));
}

@function getLastValueFromList($list) {
  @return nth($list, length($list));
}
