$mobile: 0px !default;
$tablet: 768px !default;
$desktop: 1024px !default;
$max-width: 1280px !default;
$ref: 1440px !default;
$tv: 1920px !default;

$small: $mobile;
$medium: $tablet;
$large: $desktop;
$container: $max-width;
$xlarge: $ref;
$xxlarge: $tv;

$breakpoints: (
  small: $small,
  medium: $medium,
  large: $desktop,
  xlarge: $xlarge,
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop,
  container: $container,
  max-width: $container,
  ref: $ref,
  tv: $tv
) !default;

@mixin breakpoint($size){
    $value: $size;

    @if( type_of($size) == "string"){
        $value: map-get($breakpoints, $size);
    }

    @if( $value > 0 ){
        @media screen and (min-width: $value){
            @content;
        }
    } @else {
        @content;
    }
}
