@mixin screen-reader() {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

@mixin screen-reader-focus() {
  clip: auto;
  margin: 0;
  height: auto;
  width: auto;
  clip-path: none;
}

@mixin screenReader(){
  @include screen-reader();
}

@mixin screenReaderFocus(){
  @include screen-reader-focus();
}
