@import 'spacer';
@import 'types';
@import 'array';
@import 'media-queries';

$spacings: (
        'spacer': $spacer
) !default;

@function getSpacingValue($key) {
  @return getValueInArray($key, $spacings);
}

@mixin getSpacing($property, $key: 'spacer') {
  @if ($property == '') {
    @error 'Add a property to use spacings.'
  }

  @if (map-has-key($spacings, $key)) {
    $spacing: getSpacingValue($key);

    @if (isMap($spacing)) {
      $breakpointsList: map-keys($breakpoints);

      @each $keyBreakpoint, $valueBreakpoint in $spacing {
        @if (map-has-key($spacing, $keyBreakpoint)) {
          $value: map-get($spacing, $keyBreakpoint);

          @include breakpoint($keyBreakpoint) {
            #{$property}: $value;
          }
        }
      }
    }

    @if (isNumber($spacing)) {
      #{$property}: $spacing;
    }
  }
}
