@function isNumber($toCheck){
	@return type_of($toCheck) == "number";
}

@function isMap($toCheck){
	@return type_of($toCheck) == "map";
}

@function isList($toCheck){
	@return type_of($toCheck) == "list";
}
